<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>news article</title>
</head>

<body>
    <h1>news article</h1>

    <main class="main">
        <h2 class="main-title">check an article</h2>
        <div id="news" class="news-content">
            <form class="news-form" onsubmit="Client.updateArticleUrl()" action="">
                <label for="newArticle">enter an article url</label>
                <input type="url" id="newArticle" placeholder="http://www.example.com" required>
                <button id="generate" type="submit">Submit</button>
            </form>
        </div>

        <div id="results" class="display-results"></div>
    </main>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                    .then(registration => {
                        console.log(`Service Worker registered! Scope: ${registration.scope}`);
                    })
                    .catch(err => {
                        console.log(`Service Worker registration failed: ${err}`);
                    });
            });
        }
    </script>
</body>

</html>