body {
    background-color: rgb(20, 19, 44);
    color: #ddd;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button {
        text-align: center;
        text-transform: uppercase;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.news-content,
.description {
    width: 60%;
}

.description {
    font-size: 1.5em;
    text-align: justify;
    margin-bottom: 1.2em;
}

.display-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.1em;
    margin: auto;
    margin-top: 1em;
    padding: 0.1em;
    width: 80%;

    p {
        box-sizing: border-box;
        border: 1px solid #ddd;
        text-align: center;
        width: 50%;
    }

    p:first-child {
        box-sizing: border-box;
        border: 1px solid #ddd;
        padding:1em;
        text-align: justify;
        width: 100%;
    }

    span {
        font-weight: bolder;
        text-transform: capitalize;
        font-size: 1.2em;
    }
}

.news-form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    font-size: 1.2em;

    label {
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.2em;
        margin-bottom: 0.1em;
        text-decoration: underline;
    }

    input {
        width: 100%;
        box-sizing: border-box;
        height: 1.8em;

        &::placeholder {
            text-transform: capitalize;
        }
    }

    button {
        width: 100%;
        box-sizing: border-box;
        margin-top: 0.3em;
        cursor: pointer;
        font-weight: bolder;
    }
}